/* Specificity Exercise */
/* calculating specificity of elements */

/* num_id_selectors - class/pseudoclass/attribute selectors - element/pseudoelement selectors */
/* higher numbers are more specific */

nav .list-item > a {
  color: var(--purple);
}
/* Specificity: 0-1-2 */

#main::first-letter {
  color: var(--purple);
}
/* Specificity: 1-0-1 */

input[type] {
  color: var(--purple);
}
/* Specificity: 0-1-1 */

section .main::first-line {
  color: var(--purple);
}
/* Specificity: 0-1-2 */

nav ul.menu li#first a:not([class="visited"]) {
  color: var(--purple);
}
/* Specificity: 1-2-4 */

div ol li ul li ol li ul li a {
  color: var(--purple);
}
/* Specificity: 0-0-10 */

/* 0-0-1 would be more specifc than 0-0-10 since it's further to the left */
