:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
}

/* why are there dots in front of these but not in the video 
- classes help you be more specific, good practic for bigger html files */
.header,
.section,
.aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  background-color: var(--blue);
}

.section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
}

.aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
}
